{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{ post.title }} {% endblock %}

{% block pageName %}
    <h2 class="text-center">{{ post.postType | upper }} - {{ post.title }}</h2>
{% endblock %}

{% block content %}
    <main class="container-fluid"> 
        <div class="row"><!--start post content-->
            <div class="col-12 col-sm-8"><!--start currentpost block-->       
                <nav class="pt-2 col-12 col-md-11 offset-md-1"><!--start breadcrumb--> 
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>                        
                        {% for category in post.categories %}
                            {% if category.parentId %}
                                <li class="breadcrumb-item"><a href="{{path('category', {'id':category.parentId})}}">
                                {% if (category.parentId == 1) %}Initiation{% else %}Perfectionnement{% endif %}</a></li>
                            {% endif %}
                            <li class="breadcrumb-item"><a href="{{path('category', {'id':category.Id})}}">{{category.name}}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active">{{ post.title }}</li>
                    </ol>
                </nav><!--end breadcrumb-->

                <section><!--variabled content-->
                   <article class="row border-bottom pb-3 mb-3"><!--start post-->
                        <div class="p-3 mx-lg-5">
                            {% if post.link %}
                                <iframe width="560" height="315" src="{{ post.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% else %}
                                <img src="{{post.image.link}}" alt="{{post.image.title}}" class="img-fluid imgMini mb-2 mr-md-3 float-none float-md-left">
                            {% endif %}

                            <h1 class="h2">{{ post.title }}</h1></a> 
                            <small>{{ post.postType | upper }} du {{ post.date ? post.date|date('d-m-Y') : '' }}{% if (post.duration) %} - Durée : {{ post.duration }} minutes{% endif %}.</small>                 
                            <p class="pr-5">{{post.content}}</p>

                            <div class="d-flex justify-content-between align-items-start">
                                <p>
                                {% for category in post.categories %}
                                    {% if (category.parentId == 1) %}
                                        <a href="{{path('category', {'id':1})}}"><i class="fas fa-tag mx-2"></i>Initiation</a>
                                    {% endif %}
                                    {% if (category.parentId == 2) %}
                                        <a href="{{path('category', {'id':2})}}"><i class="fas fa-tag mx-2"></i>Perfectionnement</a>
                                    {% endif %}
                                    <a href="{{path('category', {'id':category.id})}}"><i class="fas fa-tag mx-2"></i>{{category.name}}</a>
                                {% endfor %}
                                {% if (post.price > 0.00) %}<span class="badge badge-success ml-2">{{ post.price }} €</span>
                                {% else %} <span class="badge badge-success ml-2">Gratuit</span>
                                {% endif %}
                                </p>
                                <a href="{{ path('post', {'id': post.id}) }}" class="btn btn-sm btn-outline-primary">Article suivant</a>
                            </div>
                        </div>
                    </article><!--end post-->
                </section><!--end variabled content-->
            </div><!--end currentpost block-->

            <aside class="col-12 col-sm-4 table-primary pr-5"><!--start related posts column-->
                <ol class="list-group py-3 mr-3">
                    {% for category in post.categories %}
                        <li class="list-group-item list-group-item-action text-uppercase text-center bg-dark">
                            <a href="{{path('category', {'id':category.parentId})}}">{% if (category.parentId == 1) %}Initiation{% else %}Perfectionnement{% endif %}</a>
                        </li>

                        <ol class="list-group">
                        {% for post in posts %}
                            {% for category in post.categories %}
                                {% if category.parentId == 1  %}
                                    <li class="list-group-item list-group-item-action">
                                        <a href="{{ path('post', {'id': post.id}) }}">
                                        <img src="{{ post.image.link }}" alt="" class="img-fluid imgMini mb-2 mr-md-3"></br>
                                        <small>{{ post.title }}</small></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </ol>
                    {% endfor %}
                </ol>
            </aside><!--end related posts column-->
        </div><!--end post content-->
    </main>
 {% endblock %}