{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Post {{ post.id }}{% endblock %}

{% block pageName %}
    <h2 class="text-center">Post {{ post.id }}</h2>
{% endblock %}

{% block content %}
    <main class="container-fluid"> 
        <div class="row"><!--start post content-->
            <div class="col-12 col-sm-8 offset-sm-1"><!--start currentpost block-->       
                <nav class="pt-2 col-12 col-md-7 offset-md-1"><!--start breadcrumb--> 
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{path('dashboard_post_index')}}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{{ post.title }}</li>
                    </ol>
                </nav><!--end breadcrumb-->

                <div class="col-12 col-md-8 offset-md-1">
                    <ul class="list-unstyled boldUpper">
                        <li><span> Post Id :</span> {{ post.id }}</li>
                        <li><span> Date de creation :</span> {{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</li>
                        <li><span> Titre :</span> {{ post.title }}</li>
                        <li><span> Contenu :</span> {{ post.content }}</li>
                        <li><span> Type :</span> {{ post.postType }}</li>
                        <li><span> Lien :</span> {{ post.link }}</li>
                        <li><span> Durée :</span> {{ post.duration }} minutes</li>
                        <li><span> Prix :</span> {{ post.price }} €</li>
                        <li><span> Mise en ligne :</span> {{ post.status }}</li>
                        <li><span> Catégorie principale :</span>{# {{ post.category.parent_id.name }} #}</li>
                        <li><span> Catégorie secondaire :</span>{# {{ post.category.name }} #}</li>
                        <li><span> Image liée :</span> nom : {{ post.image.title }}, URL : {{ post.image.link }}, dimensions : {{ post.image.dimension }}</li>
                        <img src="{{ post.image.link }}">
                    </ul>
                    <p><a href="{{ path('dashboard_post_edit', {'id': post.id}) }}" class="btn btn-sm btn-outline-primary mr-2"><i class="fas fa-edit text-primary pr-2"></i>Modifier</a> {{ include('post/_delete_form.html.twig') }}</p>
                </div>
            </div>
            <div class="pt-2 col-12 col-md-3">
                    <a href="{{ path('dashboard_post_index') }}" class="btn btn-warning ml-auto text-secondary mb-4" ><i class="fas fa-user-circle text-primary pr-2"></i>Retour au tableau de bord</a>
            </div>
        </div><!--end post content-->
    </main>
{% endblock %}